  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"><%= image_tag "logosoproin.png"%></a>
      <ul class="right hide-on-med-and-down ">
        <li ><a href="#" class="teal-text">Productos</a></li>
        <li onclick="Materialize.toast('Disponible proximamente', 4000)"><a class="teal-text">Catalogo</a></li>
        <li ><a href="#" class="teal-text">Contacto</a></li>
        <li ><a href="#" class="teal-text">Cotizar</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li ><a href="#" class="teal-text">Productos</a></li>
        <li onclick="Materialize.toast('Disponible proximamente', 4000)"><a class="teal-text">Catalogo</a></li>
        <li ><a href="#" class="teal-text">Contacto</a></li>
        <li ><a href="#" class="teal-text">Cotizar</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>





  