<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Soproin</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>


  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container eslogan">
        <br><br>
        <h1 class="header center light">Soproin</h1>
        <div class="row center">
          <h5 class="header col s12 light texto">Sinonimo de confianza</h5>
        </div>
        
        <br><br>

      </div>
    </div>
    <div class="parallax"><%= image_tag "soproinentrada.png"%></div>
  </div>


<!--   teal-text -->
<div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Entregas</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Equipo</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Trabajo</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
</div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Comprometido con usted para entregarle el mejor servicio</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><%= image_tag "trabajo.png"%></div>
  </div>

<div class="container soproin">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4 class="titulo">Empresa orientada a la comercialización de productos industriales</h4>
          <p class="light informacion"><strong>Soproin</strong> entrega la máxima eficiencia en atención y servicio a todos sus clientes, con entregas oportunas, productos de calidad, crédito flexible y atención personalizada.</p>
        </div>
      </div>
    </div>  
</div>
   


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">19 años de experiencia en la Industria</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><%= image_tag "producto.png"%></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Soproin</h5>
          
          <p class="grey-text text-lighten-4">Co-fundador de la Empresa</p>
          <p class="grey-text text-lighten-4">Juan Carlos Vergara Carrasco</p>
          <p class="grey-text text-lighten-4">Ingeniero Comercial</p>


        </div>
        <!-- <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div> -->
        <div class="col l3 s12">
          <h5 class="white-text">Redes Sociales</h5>
          <ul>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">Instagram</a></li>
            <li><a class="white-text" href="#!">Youtube</a></li>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Soproin®<a class="brown-text text-lighten-3"> 1997</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
