<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Soproin</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>


  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container eslogan">
        <br><br>
        <h1 class="header center light">Soproin</h1>
        <div class="row center">
          <h5 class="header col s12 light texto">Sinonimo de confianza</h5>
        </div>
        
        <br><br>

      </div>
    </div>
    <div class="parallax"><%= image_tag "soproinentrada.png"%></div>
  </div>


<!--   teal-text -->
<div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Equipo</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Trabajo</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Entregas</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
</div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light texto">Comprometido con usted para entregarle el mejor servicio</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><%= image_tag "trabajo.png"%></div>
  </div>

<div class="container soproin">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4 class="titulo">Empresa orientada a la comercialización de productos industriales</h4>
          <p class="light informacion"><strong>Soproin</strong> entrega la máxima eficiencia en atención y servicio a todos sus clientes, con entregas oportunas, productos de calidad, crédito flexible y atención personalizada.</p>
        </div>
      </div>
    </div>  
</div>
   


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light texto">19 años de experiencia en la Industria</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><%= image_tag "producto.png"%></div>
  </div>

<div class="container empresa center">
  <div class="section">
    <div class="row ">
      <div class="col s12 m3">
        
          <h5>UBICACION</h5>
          <p>Maule Nº 815, Santiago, Chile.</p>
          <h5>CONTACTO</h5>
          <p><a href="mailto:ventas@soproin.cl">ventas@soproin.cl</a></p>
          <p><a href="tel:5625519787">25519787</a></p>
          <p><a href="tel:5625515138">25515138</a></p>
          <p><a href="tel:5625513475">25513475</a></p>
          <p><a href="tel:5625512762">25512762</a></p>
          <p><a href="tel:5625512384">25512384</a></p>
      </div>
      
  
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3328.327820672129!2d-70.64678008448796!3d-33.46681490573904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c5401b62cbd9%3A0xb38e8011b3c0dece!2sMaule+815%2C+Santiago%2C+Regi%C3%B3n+Metropolitana!5e0!3m2!1ses!2scl!4v1499494141953" width="600" height="450" frameborder="0" style="border:0" allowfullscreen class="col s12 m6"></iframe>
      <div class="col s12 m3">
       <h5>HORARIOS DE ATENCION</h5>
          <p><strong>Lunes a Viernes</strong></p>
          <p><strong>Mañana</strong></p>
          <p>8:45 HRS A 13:00 HRS</p>
          <p><strong>Tarde</strong></p>
          <p>13.45 HRS A 18.30 HRS</p>
    
          
      </div>
    </div>
  </div>
</div>














  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Soproin</h5>
          
          <p class="grey-text text-lighten-4">Co-fundador de la Empresa</p>
          <p class="grey-text text-lighten-4">Juan Carlos Vergara Carrasco</p>
          <p class="grey-text text-lighten-4">Ingeniero Comercial</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Redes Sociales</h5>
          <ul>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">Instagram</a></li>
            <li><a class="white-text" href="#!">Youtube</a></li>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Soproin®<a class="brown-text text-lighten-3"> 1997</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
