.container.eslogan{
	padding-top:90px;
	h1.header.center.light{
		font-size:70px;

	}
	.header.col.s12.light.texto{
		font-size:30px;
	}
}

.container.soproin{
	padding:50px;
	.titulo{
		color:rgb(12, 142, 110);
		font-size: 30px;
		padding-left:30px;	
		padding-right:30px;
	}
		
	.informacion{
		padding-top: 50px;
		font-size: 25px;
		padding-left: 100px;
		padding-right: 100px;
		text-align: center;
	}

}